@model Task3.User

@{
    ViewBag.Title = "Login";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    fieldset {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    td {
        padding: 10px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .error-message {
        color: red;
        margin-top: 5px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <h2>USER LOGIN</h2>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div class="error-message">
                @ViewBag.Message
            </div>
        }

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Username)</td>
                <td>@Html.TextBoxFor(a => a.Username)</td>
                <td>@Html.ValidationMessageFor(a => a.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.Role)</td>
                <td>@Html.TextBoxFor(a => a.Role)</td>
                <td>@Html.ValidationMessageFor(a => a.Role)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
